main {
  display: flex;
  justify-content: space-between;

}

.area-menu {
  width: 20vw;
}

.area-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  color: #868282;
}

.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 15vh;
  padding-bottom: 3%;

  h1 {
    font-size: 2.3rem;
    font-weight: 500;
  }

  strong {
    color: var(--primary-color);
    font-weight: 500;
  }

  img {
    cursor: pointer;
    margin-top: -15%;
  }
}

.area-secundary {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 20vh;
  margin-top: -5%;
}

.button-area {
  display: flex;
  justify-content: space-between;
  width: 17vw;
  margin-bottom: 3%;

  button {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
  }

  .button-nova {
    background-color: var(--primary-color);
  }

  .button-nova:hover {
    background-color: #f89f7c;
  }

  .button-dash {
    background-color: var(--secundary-color);
    color: var(--primary-color);
  }

  .button-dash:hover {
    background-color: #f2c2af;
  }
}

.area-search {
  width: 50vw;
  height: 10vh;
  margin-top: 4%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;


  input {
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    height: 100%;
    color: #868282c1;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    padding-left: 4%;
    box-shadow: 0 3px 0 rgba(105, 104, 104, 0.25);
  }

  button {
    position: absolute;
    /* Posiciona o ícone de forma absoluta */
    right: 10px;
    /* Coloca o ícone 10px à direita do input */
    top: 50%;
    /* Alinha verticalmente o ícone ao centro do input */
    transform: translateY(-50%);
    background-color: #f89f7c;
    height: 80%;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.area-search input::placeholder {
  color: #86828253;
}

.area-search input:focus {
  border: none;
  outline: none;
}



.area-user {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 170px;
  flex-direction: column;
  border-radius: 10px;
  margin: -1% -4% 0 -40%;
  box-shadow: 0 3px 0 rgba(105, 104, 104, 0.25);
  z-index: 10;
  position: relative;
  /* display: none; */

  button {
    background-color: var(--primary-color);
    color: #fff;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
  }
}

.area-config {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  font-weight: 300;

  p {
    margin-left: 10%;
  }

  img {
    width: 25px;
  }
}

.area-config:hover {
  font-weight: 600;
  cursor: pointer;
}


.context {
  height: 45vh;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.area-social {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.area-img {
  margin: 0 2%;
  padding: 1%;
}

.area-img:hover {
  background-color: #a9a9a93a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.area-reserve {
  background-color: #fff;
  width: 25vw;
  height: 100vh;
}

/* modal informe */

/* modal informe */
.header-modal-informe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  border-bottom: 3px solid var(--secundary-color);

  img {
    width: 40%;
  }

  .area-close {
    position: fixed;
    right: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    border-radius: 50%;
    background-color: #e5e5e56d;
  }

  .area-close:hover {
    cursor: pointer;
    background-color: #acacac6d;
    color: var(--primary-color);
    border: 0.1px solid #e57373;
  }
}

.main-modal-informe {
  height: 60%;
  width: 100%;
  background-color: #e573732d;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  h1 {
    color: #e57373;
    font-weight: 450;
    margin-top: 2%;
  }

  h5 {
    font-size: 16px;
    font-weight: 350;
    margin-top: 8%;

    strong {
      color: #e57373;
    }
  }

  button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 2% 5%;
    background-color: #e57373;
    color: #fff;
    border-radius: 10px;

    &:hover {
      background-color: #c66464;
    }
  }
}