main {
  display: flex;
  justify-content: space-between;
}

.area-menu {
  width: 20vw;
}

.area-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  color: #868282;
}

.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 15vh;
  padding-bottom: 3%;
}

.header-principal h1 {
  font-size: 2.3rem;
  font-weight: 500;
}

.header-principal strong {
  color: var(--primary-color);
  font-weight: 500;
}

.header-principal img {
  cursor: pointer;
  margin-top: -15%;
}

.area-secundary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 20vh;
  margin-top: -5%;
}

.button-area {
  display: flex;
  justify-content: satr;
  min-width: 15vw;
  margin-bottom: 3%;
}

.button-area button {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-weight: 700;
  border-radius: 6px;
}

.button-nova {
  background-color: var(--primary-color);
}

.button-nova:hover {
  background-color: #f89f7c;
}

.button-dash {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  margin-left: 10px;
}

.button-dash:hover {
  background-color: #f2c2af;
}

.area-search {
  width: 50vw;
  height: 10vh;
  margin-top: 4%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.area-search input {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  height: 100%;
  color: #868282c1;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  padding-left: 4%;
  box-shadow: 0 3px 0 rgba(105, 104, 104, 0.25);
}

.area-search input::placeholder {
  color: #86828253;
}

.area-search input:focus {
  border: none;
  outline: none;
}

.area-search button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f89f7c;
  height: 80%;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-user {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 170px;
  flex-direction: column;
  border-radius: 10px;
  margin: -1% -4% 0 -40%;
  box-shadow: 0 3px 0 rgba(105, 104, 104, 0.25);
  z-index: 10;
  position: relative;
}

.area-user button {
  background-color: var(--primary-color);
  color: #fff;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.area-config {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  font-weight: 300;
}

.area-config p {
  margin-left: 10%;
}

.area-config img {
  width: 25px;
}

.area-config:hover {
  font-weight: 600;
  cursor: pointer;
}

.context {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: auto;
}

.context-client {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: auto;
}

/* Personalização da barra de rolagem */
.context::-webkit-scrollbar {
  height: 4px;
  width: 10px;
}

.context::-webkit-scrollbar-thumb {
  background-color: #f7cebe;
  border-radius: 10px;
}

.context::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.context::-webkit-scrollbar-thumb:hover {
  background-color: #f9bda5;
}

.area-social {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.area-img {
  margin: 0 2%;
  padding: 1%;
}

.area-img:hover {
  background-color: #a9a9a93a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

/* modal informe */
.header-modal-informe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  border-bottom: 3px solid var(--secundary-color);
}

.header-modal-informe img {
  width: 40%;
}

.area-close {
  position: fixed;
  right: 5%;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5%;
  border-radius: 50%;
  background-color: #e5e5e56d;
}

.area-close:hover {
  cursor: pointer;
  background-color: #acacac6d;
  color: var(--primary-color);
  border: 0.1px solid #e57373;
}

.main-modal-informe {
  height: 60%;
  width: 100%;
  background-color: #e573732d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.main-modal-informe h1 {
  color: #e57373;
  font-weight: 450;
  margin-top: 2%;
}

.main-modal-informe h5 {
  font-size: 16px;
  font-weight: 350;
  margin-top: 8%;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 7%;
}

.main-modal-informe h5 strong {
  color: #e57373;
}

.main-modal-informe button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 2% 5%;
  background-color: #e57373;
  color: #fff;
  border-radius: 10px;
}

.main-modal-informe button:hover {
  background-color: #c66464;
}

/* reservas - VERSÃO DESKTOP */
.area-reserve {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.header-reserves {
  width: 100%;
  height: 18%;
  border-bottom: 1px solid #86828248;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-reserves p {
  font-size: 20px;
  color: #868282;
  text-decoration: underline;
  text-decoration-color: var(--secundary-color);
}

.area-date {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.area-date svg {
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
}

.area-date input {
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 10px;
  color: #4a4a4ab4;
}

.area-filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly !important;
}

.area-filter h5 {
  font-weight: 300;
  color: #868282;
  border: 1px solid var(--secundary-color);
  padding: 3px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.area-filter h5:hover {
  background-color: var(--secundary-color);
  border-color: var(--primary-color);
}

.area-cards-rolagem {
  width: 100%;
  height: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  padding-right: 10px;
}

/* Personalização da barra de rolagem */
.area-cards-rolagem::-webkit-scrollbar {
  height: 4px;
  width: 10px;
}

.area-cards-rolagem::-webkit-scrollbar-thumb {
  background-color: #f7cebe;
  border-radius: 10px;
}

.area-cards-rolagem::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.area-cards-rolagem::-webkit-scrollbar-thumb:hover {
  background-color: #f9bda5;
}

.area-reserve .area-cards-principal {
  width: 20vw;
  min-height: 8vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 10px 15px #b0b0b06b;
  border-radius: 10px;
  margin: 3% 0;
  cursor: pointer;
}

.left-card {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--primary-color);
  width: 3%;
  height: 8vh;
}

.rigth-card {
  background-color: #f8f8f8;
  width: 97%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hour,
.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  width: 12vw;
  font-size: 0.9rem;
}

.hour p,
.space p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #868282;
  width: 100%;
  gap: 8px;
}

.space {
  gap: 8px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #868282;
}

/* modal details */
.header-modal-informe-res {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  border-bottom: 2px solid #FF8A5B;
}

.header-modal-informe-res img {
  width: 200px;
}

.main-modal-informe-res {
  background-color: #f89f7c34;
  height: 80%;
}

.main-modal-informe-res h1 {
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

.main-modal-informe-res main {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 2%;
}

.one-res {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.one-res strong {
  font-weight: 500;
}

.one-res p {
  width: 50%;
  margin-left: 10%;
  font-weight: 300;
}

.promo {
  text-align: center;
  width: 100%;
}

.promo strong {
  font-weight: 500;
}

.promo p {
  font-weight: 300;
}

.obs {
  text-align: center;
  width: 100%;
}

.obs strong {
  font-weight: 500;
}

.obs p {
  font-weight: 300;
}

.main-modal-informe-res button {
  background-color: #e57373;
  color: #fff;
  border-radius: 10px;
  padding: 8px 25px;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.reserve-mobile {
  display: none;
}

.close-reserve {
  display: none;
}

@media(max-width: 1210px) {

  .hour,
  .space {
    font-size: 0.7rem;
  }

  .area-filter h5 {
    font-size: 11px;
  }
}


@media(max-width: 1014px) {
  .area-content {
    position: fixed;
    top: 0%;
    left: 5%;
    width: 65vw;
    height: 100vh;
  }

  .header-principal h1 {
    font-size: 28px;
  }

  .button-nova,
  .button-dash {
    max-width: 100px;
    font-size: 12px;
  }

  .area-search {
    width: 63vw;
    height: 80px !important;
  }

  .header-principal img {
    margin-right: 5%;
  }

  .area-user {
    margin-right: 3%;
  }

  .area-reserve {
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 30vw;
  }

  .area-cards-principal {
    min-width: 26vw !important;
  }

  .hour p img,
  .space img {
    width: 15px;
  }

  .area-filter h5 {
    font-size: 11px;
  }
}

@media(max-width: 850px) {
  .area-filter {
    overflow: auto;
    height: 120px;
    scrollbar-width: none;
  }

  .area-filter h5 {
    font-size: 9px;
    min-width: 75px !important;
    margin: 0 2px;
    flex-wrap: wrap;
    height: 25px;
    text-align: center;
  }

  .area-date {
    margin-top: 10px;
  }

  .area-date input {
    width: 95px;
    font-size: 10px;
    height: 30px;
    border-radius: 5px;
  }

  .area-date svg {
    width: 15px;
  }

  .hour img {
    display: none;
  }

  .area-search {
    height: 80px;
    margin-top: 50px !important;
  }

  .area-content {
    margin-top: -10%;
  }
}

@media(max-width: 650px) {
  .area-reserve {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50vw;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-out;
    z-index: 1000;
    display: block;
  }

  .area-reserve.active {
    right: 0;
  }

  .area-content {
    height: 100vh;
    width: 94vw;
    bottom: 2%;
    left: 3%;
  }

  .area-search {
    width: 94vw;
  }

  .reserve-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20%;
    right: 2%;
    background-color: var(--secundary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #8b8a8ab9;
    z-index: 999;
    border: none;
    cursor: pointer;
  }

  .reserve-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
  }

  .area-reserve.active~.reserve-overlay {
    display: block;
  }

  .close-reserve {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    color: #888787;
  }

  /* Ajustes específicos para o conteúdo do reserve em mobile */
  .area-reserve .area-cards-principal {
    width: 90% !important;
    margin-left: 5%;
    background-color: #c66464 !important;
  }

  .hour img {
    display: block;
  }

  .hour,
  .space {
    width: auto;
    padding: 0 10px;
  }
}

@media(max-width: 460px) {
  .area-reserve {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80vw;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-out;
    z-index: 1000;
    display: block;
  }

  .area-reserve.active {
    right: 0;
  }

  .area-content {
    height: 100vh;
    width: 94vw;
    bottom: 2%;
    left: 3%;
  }

  .area-user {
    height: 110px;
    /* padding-right: 30px; */
    font-size: 11px;

    img {
      width: 13px;
    }

    button {
      width: 80%;
      font-size: 13px;
    }
  }

  .area-search {
    width: 94vw;
    height: 65px !important;
    margin-top: 0px !important;
  }

  .reserve-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15%;
    right: 2%;
    background-color: var(--secundary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #8b8a8ab9;
    z-index: 999;
    border: none;
    cursor: pointer;
  }

  .reserve-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
  }

  .area-reserve.active~.reserve-overlay {
    display: block;
  }

  .close-reserve {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    color: #888787;
  }

  /* Ajustes específicos para o conteúdo do reserve em mobile */
  .area-reserve .area-cards-principal {
    width: 90% !important;
    margin-left: 5%;
    background-color: #c66464 !important;
  }

  .hour img {
    display: block;
  }

  .hour,
  .space {
    width: auto;
    padding: 0 10px;
  }

  .area-img {
    margin-top: -7vh !important;
  }
}