/* dia  */
.rdp-day button {
  background-color: #f1f1f1;
}

/* dia hover */
.rdp-day_button:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* setas */
.rdp-chevron {
  fill: var(--primary-color) !important;
}

/* cor do dia  */
.rdp-today:not(.rdp-outside) {
  color: var(--primary-color);
}

.rdp-selected .rdp-day_button {
  border-color: var(--primary-color);
  background-color: var(--secundary-color);
}

/* modal reserve style */
.header-modal-reserve {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 10%;
  height: 80px;
  border-bottom: 1px solid #c8c8c8;

  h1 {
    font-weight: 250;
    margin-left: 5%;
    font-size: 26px;
  }

  strong {
    font-weight: 500;
    border-bottom: 2px solid var(--primary-color);
    color: #7b7b7b;
  }

  .area-close:hover {
    background-color: #d3d3d3;
    border-radius: 50%;
  }
}

.main-reserve {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;

  .area-left {
    width: 40%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .area-picker {
      /* background-color: #854747; */
      width: 100%;
    }

    .title-left {
      h5 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 5%;
      }

      p {
        font-size: 0.8rem;
        font-weight: 200;
        margin-top: -2%;
        color: #7b7b7b;
      }

    }

    .area-space-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #e1e1e1bb;
      border-radius: 10px;
      margin-bottom: 3%;
      flex-wrap: wrap;
      padding: 3% 0;

      h1 {
        font-weight: 300;
        border-bottom: 1px solid #ff1744;
      }

      h5 {
        cursor: pointer;
        color: var(--primary-color);
        font-weight: 300;
        border: 1px solid var(--primary-color);
        margin-top: 2%;
        padding: 1% 5%;
        border-radius: 10px;

        &:hover {
          font-weight: 500;
          background-color: var(--secundary-color);
        }
      }

      .space-left {
        border: 1px solid var(--primary-color);
        border-radius: 7px;
        background-color: #f4f4f4;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;


        padding: 1% 3%;

        &:hover {
          background-color: var(--secundary-color);
        }

      }
    }

    .loadingReserve {
      width: 100%;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding-top: 20%; */
    }

    .card-reserve {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 2% 5%;
      border-radius: 10px;
      box-shadow: 0 3px 0 #b1b1b1ca;
      cursor: not-allowed;
      margin-bottom: 5%;
    }

  }

  .area-rigth {
    border-left: 1px solid #9494948c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-left: 8%;

    .area-space-reserve {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;


      h1 {
        font-weight: 300;
        border-bottom: 1px solid #ff1744;
      }

      h5 {
        cursor: pointer;
        color: var(--primary-color);
        font-weight: 300;
        border: 1px solid var(--primary-color);
        margin-top: 2%;
        padding: 1% 5%;
        border-radius: 10px;

        &:hover {
          font-weight: 500;
          background-color: var(--secundary-color);
        }
      }

      .space-reserve {
        border: 1px solid var(--primary-color);
        padding: 1%;
        margin: 1%;
        border-radius: 7px;
        background-color: #fff;

        p {
          color: #8c8c8c;
          font-weight: 350;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    form {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12%;

      label {
        height: 40px;
        font-weight: 350;

        input {
          border: 1px solid var(--secundary-color);
          text-align: center;
          height: 100%;
          border-radius: 10px;
          color: var(--primary-color);
          font-size: 16px;
          width: 100%;
        }
      }
    }

    h5 {
      width: 80%;
      text-align: center;
      margin-top: 6%;
      padding: 2% 0;
      border-bottom: 1px solid #a5a5a5;
      border-radius: 10px;
      font-weight: 350;
      font-size: 15px;
    }

    .btn-reserve {
      background-color: var(--primary-color);
      width: 30%;
      border: none;
      position: fixed;
      bottom: 1%;
      height: 7%;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;

      &:hover {
        background-color: var(--hover-btn);
      }
    }
  }
}