.header-modal-search {
  background-image: url(../../img/bg-reserve.svg);
  background-size: cover;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  .area-close {
    position: fixed;
    right: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    border-radius: 50%;
    background-color: #8684846d;
  }

  .area-close:hover {
    cursor: pointer;
    background-color: #acacac6d;
    color: var(--primary-color);
    border: 0.1px solid #fff;
  }

  h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;

    strong {
      color: var(--primary-color);
      font-weight: 300;

    }
  }

}

.area-icons-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  margin-top: -4%;

  .item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong {
      color: var(--primary-color);
    }

    .icons-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: antiquewhite;
      border-radius: 50%;
      /* background-color: var(--secundary-color); */
      background-color: #f0f0f0;

      .icon {
        width: 50px;
        height: 50px;
      }
    }


  }
}

.main-modal-search {
  height: 45%;
  width: 100%;

  .area-select-arena {
    margin-top: 8%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    border-top: 1px solid #cdcdcd;
    padding-top: 2%;

    h3 {
      font-weight: 350;
    }
  }

  .area-checks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    margin-top: 3%;

    .area-checks-left {
      h5 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5%;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: start;

        label {
          margin-left: 2%;
        }
      }
    }

    .area-checks-rigth {
      margin-top: 5%;

      div {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 150%;

        label {
          margin-left: 2%;
        }
      }
    }
  }

  .area-btn-agendar {
    position: fixed;
    right: 5%;
    bottom: 5%;

    .btn-agendar {
      background-color: var(--primary-color);
      width: 200px;
      height: 50px;
      border-radius: 10px;
      font-size: 16px;
      color: #fff;

      &:hover {
        background-color: var(--hover-btn);
      }
    }
  }
}

/* modal informe */
.header-modal-informe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  border-bottom: 3px solid var(--secundary-color);

  img {
    width: 40%;
  }

  .area-close {
    position: fixed;
    right: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    border-radius: 50%;
    background-color: #e5e5e56d;
  }

  .area-close:hover {
    cursor: pointer;
    background-color: #acacac6d;
    color: var(--primary-color);
    border: 0.1px solid #e57373;
  }
}

.main-modal-informe {
  height: 60%;
  width: 100%;
  background-color: #e573732d;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  h1 {
    color: #e57373;
    font-weight: 450;
    margin-top: 2%;
  }

  h5 {
    font-size: 16px;
    font-weight: 350;
    margin-top: 8%;

    strong {
      color: #e57373;
    }
  }

  button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 2% 5%;
    background-color: #e57373;
    color: #fff;
    border-radius: 10px;

    &:hover {
      background-color: #c66464;
    }
  }
}