@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #FF8A5B;
  --secundary-color: #f7cebe;
  --background-app: #f7f7f7;
  --background-inputs: #DFDFDF;
  --color-font: #757575;
  --hover-btn: #db6232;
}

body {
  background-color: var(--background-app);
  font-family: 'Poppins', sans-serif;

  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a,
button {
  border: 0;
  text-decoration: none;
  cursor: pointer;

}

/* retira setas do input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  border: none;
  outline: none;
}

/* style checkbox */
input[type="checkbox"] {
  appearance: none;
  /* Remove o estilo padrão */
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #FF8A5B;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

/* Estilo quando marcado */
input[type="checkbox"]:checked {
  background-color: #FF8A5B;
  border-color: #FF8A5B;
}

/* Ícone de check */
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  top: px;
  left: 30%;
  transform: rotate(45deg);
  display: none;
}

/* Mostra o check quando marcado */
input[type="checkbox"]:checked::after {
  display: block;
}